@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    @custom-media --mobile-vp-min (min-width: 35em);
    @custom-media --large-vp-min (max-width: 50em);
    @custom-media --small-vp-max (max-width: 57em);
}