@import "styles/typography.pcss";
@import "styles/variables.pcss";
@import "styles/tailwind.pcss";

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        font-family: "Poppins", sans-serif;
    }
}